/Emacs/elpa
/Emacs/auto-save-list
/Emacs/.mc-lists.el
/Emacs/abbrev_defs
/Emacs/bookmarks
/Emacs/eshell
/Emacs/url
/Emacs/tramp
/Emacs/ido.last
/Emacs/network-security.data
/Emacs/custom-file.el
*.elc
